* {
    user-select: none; /* Para navegadores modernos */
    -moz-user-select: none; /* Para Firefox */
    -webkit-user-select: none; /* Para Safari */
    -ms-user-select: none; /* Para Internet Explorer/Edge */
    scroll-behavior: smooth;
}

/* A parte de rolagem */
#shoppin-cart-payment::-webkit-scrollbar {
    width: 6px;
    /* Largura da barra de rolagem vertical */
    height: 12px;
    /* Altura da barra de rolagem horizontal */
}

/* Parte da barra de rolagem */
#shoppin-cart-payment::-webkit-scrollbar-track {
    background: #c3c3c3;
    /* Cor do trilho da barra de rolagem */
    border-radius: 10px;
}

/* Parte do "polegar" da barra de rolagem */
#shoppin-cart-payment::-webkit-scrollbar-thumb {
    background: #CFDA29;
    /* Cor do "polegar" da barra de rolagem */
    border-radius: 10px;
}

/* Efeito quando o "polegar" é hoverado */
#shoppin-cart-payment::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Cor do "polegar" quando está em hover */
}


.scrollbar-hidden {
    overflow: -moz-scrollbars-none; /* Para navegadores baseados em Gecko (Firefox) */
    -ms-overflow-style: none; /* Para Internet Explorer e Edge */
    scrollbar-width: none; /* Para navegadores baseados em WebKit (Chrome, Safari) */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Para navegadores baseados em WebKit (Chrome, Safari) */
}

/* A parte de rolagem */
*::-webkit-scrollbar {
    width: 6px;
    /* Largura da barra de rolagem vertical */
    height: 12px;
    /* Altura da barra de rolagem horizontal */
}

/* Parte da barra de rolagem */
*::-webkit-scrollbar-track {
    background: #c3c3c3;
    /* Cor do trilho da barra de rolagem */
    border-radius: 10px;
}

/* Parte do "polegar" da barra de rolagem */
*::-webkit-scrollbar-thumb {
    background: #cfda29;
    /* Cor do "polegar" da barra de rolagem */
    border-radius: 10px;
}

/* Efeito quando o "polegar" é hoverado */
*::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Cor do "polegar" quando está em hover */
}

.scrollbar-hidden {
    overflow: -moz-scrollbars-none;
    /* Para navegadores baseados em Gecko (Firefox) */
    -ms-overflow-style: none !important;
    /* Para Internet Explorer e Edge */
    scrollbar-width: none !important;
    /* Para navegadores baseados em WebKit (Chrome, Safari) */
}
