---
import { Bookshelf } from "../../components/React/Bookshelf";
import LayoutClientArea from "../../layouts/LayoutClientArea.astro";

const { id } = Astro.params;
---

<LayoutClientArea title="Sua Estante">
    <div class="py-3 px-5 sm:px-7 md:px-14 xl:py-8 xl:px-14 h-full">
        <Bookshelf userId={id as string} client:load />
    </div>
</LayoutClientArea>
