---
import { IoReorderThreeOutline } from "react-icons/io5";
import { LogoIcon } from "../../utils/getSvgIcons";
---

<div class='bg-[#CFDA29] relative py-3 px-5 sm:px-7 md:px-14 xl:px-14 '>
    <div class="flex flex-col sm:relative sm:flex-row items-center justify-center">
        <div class="flex-1 flex justify-center items-center w-full">
            <div id="toggle-sidenav" class="[&.active]:bg-[red] block cursor-pointer z-20 lg:hidden xl:hidden fixed left-5 md:left-14 xl:left-14"><IoReorderThreeOutline className="w-[38px] h-[38px] sm:w-[45px] sm:h-[45px] md:w-[50px] md:h-[50px]" /></div>
            <a href="/" class=" flex-1 justify-center flex"><LogoIcon className="w-[150px] sm:w-[160px] md:w-[180px] xl:w-[200px]" /></a>
        </div>
        <div class="font-semibold text-[14px] md:text-[16px] 2xl:text-[20px] sm:absolute sm:right-0">Área do cliente</div>
    </div>
    <div id="sidenav-tag" class="[&.active]:translate-x-0 -translate-x-full z-10 transition-transform duration-200 lg:hidden xl:hidden fixed left-0 w-[calc(100%-5rem)] bg-white p-3 top-0 h-svh border shadow-xl shadow-gray-700 rounded-br-2xl"></div>
</div>

<script>
    const toggle = document.getElementById('toggle-sidenav');

    toggle?.addEventListener('click', () => {
        toggle.classList.toggle('active')
        document.getElementById('sidenav-tag')?.classList.toggle('active')
    })
</script>