---
import LayoutClientArea from "../layouts/LayoutClientArea.astro";
---

<LayoutClientArea title="Login">
    <div class="w-full h-full flex items-center justify-center">
        <form method="get" class="flex flex-col gap-3 w-fit border rounded-xl py-6 px-3">
            <div class="opacity-60 text-[12px] mb-6 px-3 border-b-[3px] pb-3">
                OBS: A sua senha é composta dos <b>3 primeiros digitos do seu CPF</b> somados aos <b>4 utimos digitos do seu telefone</b> cadastrado.
            </div>
            <label >
                Email:
                <input class='rounded-full p-2 w-full placeholder:text-[#969696] outline-none border border-[#969696] text-[#000000]' type="email" name="email" required />
            </label>
            <label>
                Password:
                <input class='rounded-full p-2 w-full placeholder:text-[#969696] outline-none border border-[#969696] text-[#000000]' type="password" name="password" required minlength="6" />
            </label>
            <button type="submit" class="bg-[#EE8A21] text-white py-2 px-8 rounded-full text-[12px] md:text-[14px] 2xl:text-[16px] mt-6">Entrar</button>

        </form>
    </div>
</LayoutClientArea>

<script>
    document.querySelector("form")?.addEventListener("submit", async (event: any) => {
        event.preventDefault();
        const formData = new FormData(event.target);
        const data = Object.fromEntries(formData.entries());

        try {
            const response = await fetch('http://localhost:1337/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });

            const result = await response.json();

            if (result.error) {
                return alert(result.error.message)
            }

            localStorage.setItem('jwt', result.accessToken)
            window.location.href = window.location.origin
        } catch (error) {
            console.error('Erro ao enviar os dados:', error);
        }
    });
</script>
