---
import Footer from "../components/Astro/Footer.astro";
import { Header } from "../components/React/Header";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap">
        <link rel="stylesheet" href="../components/React/index.css">
		<title>{title}</title>
		
	</head>
	<body class="min-w-[300px] bg-[#f4f4f4] h-full">
		<header>
			<Header client:load />
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<Footer />
		</footer>
	</body>
</html>

<style>

    /* A parte de rolagem */
    *::-webkit-scrollbar {
        width: 6px;
        /* Largura da barra de rolagem vertical */
        height: 12px;
        /* Altura da barra de rolagem horizontal */
    }

    /* Parte da barra de rolagem */
    *::-webkit-scrollbar-track {
        background: #c3c3c3;
        /* Cor do trilho da barra de rolagem */
        border-radius: 10px;
    }

    /* Parte do "polegar" da barra de rolagem */
    *::-webkit-scrollbar-thumb {
        background: #CFDA29;
        /* Cor do "polegar" da barra de rolagem */
        border-radius: 10px;
    }

    /* Efeito quando o "polegar" é hoverado */
    *::-webkit-scrollbar-thumb:hover {
        background: #555;
        /* Cor do "polegar" quando está em hover */
    }
</style>